<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/stylePoursuite.css">
    <title>anti-sutom</title>
</head>
<body>
    <h1>ca fonctionne, mot de <%= longueur %> lettres et commençant par <%= premiereLettre %> </h1>
    


    <form action="" method="post"></form>


    <div id="motCache"><%= mot %></div>

    <table>
        <% for(let i=0;i<longueur;i++){ %>
            <tr>
                <td>
                    <a class="click" onclick="afficher(<%= i %>)">
                        <span>
                            <% if (mot[i]!="$") { %>
                                <!-- ici mettre code de lorsque la lettre est sur -->
                                <%= mot[i] %>
                            <% } else { %>
                                <!-- ici mettre le code de lorsque la lettre est à trouvé -->
                                ___A trouver___                    
                            <% } %> 
                        </span>
                    </a>
                </td>
            </tr>
        <% } %> 
    </table>


    <form action="/poursuite" method="post">
        <div id="param">
            <div id="texte">

            </div>

            <select name="lettrePossible" id="lettrePossible_select">
                <option value="$"></option>
                <% for( let i = 0; i < lettrePossible.length; i++ ) { %>
                    <option value="<%= lettrePossible[i] %>"><%= lettrePossible[i] %></option>
                <% } %>
            </select>
        </div>

        <div>
            <b>lettre impossible :</b>
            <select name="lettreImpossible" id="lettreImpossible_select">
                <option value="$"></option>
                <% for( let i = 0; i < lettrePossible.length; i++ ) { %>
                    <option value="<%= lettrePossible[i] %>"><%= lettrePossible[i] %></option>
                <% } %>
            </select>
        </div>

        <button type="submit">submit button</button>
    </form>

    <div id="french">
        <%=france %> 
    </div>

</body>

<script>
    function afficher(str){
        
        let mot = document.getElementById('motCache').textContent[parseInt(str)];
        let a = document.getElementById("lettrePossible_select");
        if(mot==='$'){
            mot = "à trouver";
            a.style.visibility= "visible";
            a.options.selectedIndex = 0;
        }else{
            a.style.visibility= "hidden";
        }
        document.getElementById("texte").innerHTML = `lettre selectionnée : ${str}
        <br>
        <br>
        <b>${mot}</b>`;
    }
</script>

</html>