<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>anti-sutom</title>
</head>
<body>
    <h1>ca fonctionne, mot de <%= longueur %> lettres et commençant par <%= premiereLettre %> </h1>
    


    <form action="" method="post"></form>


    <table>
        <% for(let i=0;i<longueur;i++){ %>
            <tr>
                <% if (i<premiereLettre.length) { %>
                    <!-- ici mettre code de lorsque la lettre est sur -->
                    <td><%= premiereLettre[i] %></td>  
                <% } else { %>
                    <!-- ici mettre le code de lorsque la lettre est à trouvé -->
                    <td>___A trouver___</td>                    
                <% } %> 

            </tr>
        <% } %> 
    </table>

    <div id="french">
        <%=france %> 
    </div>

    <div id="lettrePossible">
        <%= lettrePossible %> 
    </div>
</body>
</html>