<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/stylePoursuite.css">
    <title>anti-sutom</title>
</head>
<body>
    <h1>ca fonctionne, mot de <%= longueur %> lettres et commençant par <%= premiereLettre %> </h1>
    


    <form action="" method="post"></form>


    <table>
        <% for(let i=0;i<longueur;i++){ %>
            <tr>
                <td>
                    <a class="click" onclick="afficher(<%= i %>)">
                        <span>
                            <% if (mot[i]!="$") { %>
                                <!-- ici mettre code de lorsque la lettre est sur -->
                                <%= mot[i] %>
                            <% } else { %>
                                <!-- ici mettre le code de lorsque la lettre est à trouvé -->
                                ___A trouver___                    
                            <% } %> 
                        </span>
                    </a>
                </td>
            </tr>
        <% } %> 
    </table>

    <div id="param">
            <select name="lettreSelected" id="lettreSelectedId">
                <option value="a"></option>
            </select>
        </div>
    </div>

    <div id="french">
        <%=france %> 
    </div>

    <select name="lettrePossible" id="lettrePossible_select">
        <option value="$"></option>
        <% for( let i = 0; i < lettrePossible.length; i++ ) { %>
            <option value="<%= lettrePossible[i] %>"><%= lettrePossible[i] %></option>
        <% } %>
    </select>

</body>

<script>
    function afficher(str){
        let a = document.getElementById("param");
        a.innerHTML = `<div>
                voici le document selectionné ${str}
            </div>`;
    }
</script>

</html>