<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/stylePoursuite.css">
    <title>anti-sutom</title>
</head>
<body>

    <!-- lien pour retourner à l'accueil -->
    <a href="/">ANTI-SUTOM</a>

    <!-- mot présent seulement pour les données -->
    <div id="motCache"><%= mot %></div>

    <!-- nb mots possibles, utilisé dans l'affichage des résultats -->
    <% let long = france.length %> 

    <!-- variable de l'alphabet à utiliser -->
    <% let alphabet = "abcdefghijklmnopqrstuvwxyz" %> 

    <table>
        <% for(let i=0;i<mot.length;i++){ %>
            <tr>
                <td>
                    <a class="click" onclick="afficher(<%= i %>)">
                        <span>
                            <% if (mot[i]!="$") { %>
                                <!-- ici mettre code de lorsque la lettre est sur -->
                                <%= mot[i] %>
                            <% } else { %>
                                <!-- ici mettre le code de lorsque la lettre est à trouvé -->
                                ___A trouver___                    
                            <% } %> 
                        </span>
                    </a>
                </td>
            </tr>
        <% } %> 
    </table>

    <div id="param">
        <div id="texte">
        </div>

        <select name="lettrePossible" id="lettrePresente_select">
            <option value="$"></option>
            <% for( let i = 0; i < lettrePresente.length; i++ ) { %>
                <option value="<%= lettrePresente[i] %>"><%= lettrePresente[i] %></option>
            <% } %>
        </select>
    </div>

    <br>

    <label for="listeLettrePresente">choisir lettre présente dans le mot forcément</label>
    <ul id="listeLettrePresente">
        <% for( let i = 0; i < alphabet.length; i++ ) { %>
            <li>
                <% if (!lettrePresente.includes(alphabet[i])) { %>
                    <a href="/poursuite/<%=mot%>/<%=lettrePresente+alphabet[i]%>/<%=lettreImpossible%>"> <%=alphabet[i]  %> </a> 
                <% } %>
            </li>
        <% } %>
    </ul>


    <br>
    <label for="listeLettreImpossible">choisir lettre présente dans le mot forcément</label>
    <ul id="listeLettreImpossible">
        <% for( let i = 0; i < alphabet.length; i++ ) { %>
            <li>
                <% if (!lettreImpossible.includes(alphabet[i])) { %>
                    <a href="/poursuite/<%=mot%>/<%=lettrePresente%>/<%=lettreImpossible+alphabet[i]%>"> <%=alphabet[i]  %> </a> 
                <% } %>
            </li>
        <% } %>
    </ul>
    


    <div id="french"> 
        <h3><%=long %> 
        <% if (long==1) { %>
            résultat
        <% } else { %>
            résultats
        <% } %>
        </h3>
        <% for( let i = 0; i < france.length; i++ ) { %>
            <b><%=france[i]  %> :</b>
        <% } %> 
    </div>

</body>

<script>
    function afficher(str) {
        let mot = document.getElementById('motCache').textContent[parseInt(str)];
        let a = document.getElementById("lettrePresente_select");
        let res = "_";
        if(mot==='$'){
            mot = "à trouver";
            a.style.visibility= "visible";
            a.options.selectedIndex = 0;
        }else{
            res = mot.toUpperCase();
            a.style.visibility= "hidden";
        }
        document.getElementById("texte").innerHTML = "lettre selectionnée : " + res + " (" + str + ")";        
    }
</script>
</html>