<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/stylePoursuite.css">
    <title>anti-sutom</title>
</head>
<body>

    <!-- lien pour retourner à l'accueil -->
    <a href="/">ANTI-SUTOM</a>

    <!-- données présentes seulement pour le js -->
    <div id="motCache"><%= mot %></div>
    <div id="lettreImpossibleCache"><%=lettreImpossible%></div> 
    <div id="lettrePresenteCache"><%=lettrePresente%></div>

    <!-- nb mots possibles, utilisé dans l'affichage des résultats -->
    <% let long = france.length %> 

    <!-- variable de l'alphabet à utiliser -->
    <% let alphabet = "abcdefghijklmnopqrstuvwxyz" %> 

    <table>
        <% for(let i=0;i<mot.length;i++){ %>
            <tr>
                <td>
                    <a class="click" onclick="afficher(<%= i %>)">
                        <span>
                            <% if (mot[i]!="$") { %>
                                <!-- ici mettre code de lorsque la lettre est sur -->
                                <%= mot[i] %>
                            <% } else { %>
                                <!-- ici mettre le code de lorsque la lettre est à trouvé -->
                                ___A trouver___                    
                            <% } %> 
                        </span>
                    </a>
                </td>
            </tr>
        <% } %> 
    </table>

    <div id="param">
        <div id="texte">
        </div>

        <select name="lettrePossible" id="lettrePresente_select" onchange="changerLien(this.value)">
            <option value=""></option>
            <% for( let i = 0; i < alphabet.length; i++ ) { %>

                <% if (!lettreImpossible.includes(alphabet[i])) { %>
                    <option value="<%= alphabet[i] %>" href="/"><%= alphabet[i] %></option>                 
                <% } %>
            <% } %>
        </select>
    </div>

    <br>

    <label for="listeLettrePresente">choisir lettre présente dans le mot forcément</label>
    <ul id="listeLettrePresente">
        <% for( let i = 0; i < alphabet.length; i++ ) { %>
            <li>
                <% if (!lettrePresente.includes(alphabet[i])) { %>
                    <a href="/poursuite/<%=mot%>/<%=lettrePresente+alphabet[i]%>/<%=lettreImpossible%>"> <%=alphabet[i]  %> </a> 
                <% } %>
            </li>
        <% } %>
    </ul>


    <br>
    <label for="listeLettreImpossible">choisir lettre présente dans le mot forcément</label>
    <ul id="listeLettreImpossible">
        <% for( let i = 0; i < alphabet.length; i++ ) { %>
            <li>
                <% if (!lettreImpossible.includes(alphabet[i])) { %>
                    <a href="/poursuite/<%=mot%>/<%=lettrePresente%>/<%=lettreImpossible+alphabet[i]%>"> <%=alphabet[i]  %> </a> 
                <% } %>
            </li>
        <% } %>
    </ul>
    


    <div id="french"> 
        <h3><%=long %> 
        <% if (long==1) { %>
            résultat
        <% } else { %>
            résultats
        <% } %>
        </h3>
        <% for( let i = 0; i < france.length; i++ ) { %>
            <b><%=france[i]  %> :</b>
        <% } %> 
    </div>

</body>

<script>

    let mot = document.getElementById('motCache').textContent;
    let lettrePresente = document.getElementById('lettrePresenteCache').textContent;
    let lettreImpossible = document.getElementById('lettreImpossibleCache').textContent;

    let nb = 0;

    function changerLien(param) {
        console.log(param);
        if(param){
            let nMot = mot;
            nMot[nb] = param;
            nMot = setCharAt(nMot,nb,param);

            if(lettreImpossible){
                window.location.href = "/poursuite/"+nMot+"/"+ lettrePresente + "/" + lettreImpossible;                
            }else{
                window.location.href = "/poursuite/"+nMot+"/"+ lettrePresente;
            }
        }
    }

    function afficher(str) {
        let m = document.getElementById('motCache').textContent[parseInt(str)];
        nb = parseInt(str);
        let a = document.getElementById("lettrePresente_select");
        let res = "_";
        if(m==='$'){
            m = "à trouver";
            a.style.visibility= "visible";
            a.options.selectedIndex = 0;
        }else{
            res = m.toUpperCase();
            a.style.visibility= "hidden";
        }
        document.getElementById("texte").innerHTML = "lettre selectionnée : " + res + " (" + str + ")";        
    }

    function setCharAt(str,index,chr) {
    if(index > str.length-1) return str;
    return str.substring(0,index) + chr + str.substring(index+1);
}
</script>
</html>